.leftSideCard{
    display: flex;
    height: 435px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.rightSideCard{
    display: flex;
    height: 435px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}


.arrow{
    position: absolute;
    height: 300px;
    width: 300px;
    transform: scaleX(-1);
    right: 430px;
    bottom: -1150px;
    z-index: -1;
}
.arrow2{
    position: absolute;
    height: 300px;
    width: 300px;
    right: 800px;
    bottom: -1600px;
    z-index: -1;
}


.info{
    width: 445px;
    display: flex;
    flex-direction: column;
}

h3{
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform:uppercase;

}

p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

.info div{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 12px;
    margin-bottom: 8px;
}
